@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
 --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #053e2f;
  --border: #2e303a;
  --code-bg: #1f2028;
  --accent: #ff771c;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --accent-border: rgba(192, 132, 252, 0.5);
  --social-bg: rgba(47, 48, 58, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

  --sans: 'JetBrains Mono', monospace;
  --heading: 'JetBrains Mono', monospace;
  --mono: 'JetBrains Mono', monospace;

  --weight-sans: 300;
  --weight-heading: 700;
  --weight-mono: 300;

  --grid-minor: rgba(229, 228, 231, 0.05); 
  --grid-major: rgba(229, 228, 231, 0.10);

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  background-color: var(--bg);
  background-image:
    linear-gradient(to right, var(--grid-minor) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-minor) 1px, transparent 1px),

    linear-gradient(to right, var(--grid-major) 1.5px, transparent 1.5px),
    linear-gradient(to bottom, var(--grid-major) 1.5px, transparent 1.5px);

  background-size: 
    20px 20px,
    20px 20px,
    100px 100px,
    100px 100px;

  background-attachment: fixed;
}

#root {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 2rem 3rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
}

.nav a:hover {
  color:#e5e4e7;
}

.nav a.active {
  background-color: #e5e4e7;
  color:#053e2f;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

.profile p {
  color: var(--text-h);
  font-weight: 200;
  text-align: start;
}

.profile svg {
  color: var(--text);
}

.profile #details {
  display: grid;
  justify-content: start;
  align-items: start;
  width:50%;
  max-width: 50%;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  gap: 1.5rem;
  box-sizing: border-box;
}

.resume button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--heading);
  font-weight: 500;
  font-size: large;
  background-color: #f3f4f6;
  border:none;
  border-radius: 10px;
  color :#053e2f;
  padding: 0.75rem 1.5rem;
  gap: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.resume button:hover {
  background-color: #e5e4e7;
}

.reume button:focus {
  outline: none;
}

.iframe-container {
  width: 90%;
  max-width: 900px;
  height: 80vh;
  min-height: 600px;
}

.resume iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
}

.works {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  gap: 1.5rem;
  box-sizing: border-box;
}

.works .work-card {
  display: flex;
  align-items: flex-start;
  background-color: #e5e4e7;
  border-radius: 10px;
  padding: 2rem;
  box-sizing: border-box;
}

.works .work-details {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.works h3 {
  color: #053e2f;
  font-weight: 500;
}

.works p {
  color: #053e2f;
  font-weight: 200;
}