@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
 --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #053e2f;
  --border: #2e303a;
  --code-bg: #1f2028;
  --accent: #ff771c;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --accent-border: rgba(192, 132, 252, 0.5);
  --social-bg: rgba(47, 48, 58, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

  --sans: 'JetBrains Mono', monospace;
  --heading: 'JetBrains Mono', monospace;
  --mono: 'JetBrains Mono', monospace;

  --weight-sans: 300;
  --weight-heading: 700;
  --weight-mono: 300;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

#root {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
}

.nav a:hover {
  background-color: #e5e4e790;
  color:#053e2f;
}

.nav a.active {
  background-color: #e5e4e7;
  color:#053e2f;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

.profile #details {
  display: grid;
  justify-content: start;
  align-items: start;
  width:50%;
  max-width: 50%;
}

.resume {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  gap: 1rem;
}

.resume button {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-family: var(--heading);
  background-color: #e5e4e7;
  border-radius: 10px;
  color :#053e2f;
  outline: none;
  box-shadow: none;
  padding: 1rem;
  gap: 1rem;
}

.reume button:focus {
    outline: none;
}

.resume iframe {
  border-radius: 10px;
}